@tailwind preflight;

a {
    color: inherit;
}

h1 {
    @apply .font-extrabold;
    @apply .leading-none;
    @apply .mb-8;
    @apply .text-lg;
    @apply .text-orange;
    @apply .tracking-wide;
    @apply .uppercase;
}

@tailwind utilities;
.sign-in-proj {
    color: #333 !important;
}
.my-header {
    background: #fff !important;
}

a.sign-in-proj:hover {
    color: #f91942 !important;
}
.im {
    font-size: 20px;
}
p.form-row-wide:first {
    height: 140px;
  }
  small {
    color: crimson;
    margin-left: 25px;
    display: block;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    text-transform: none;
    font-size: 14px;
  }
  .invite_check {
    color: #8d8c8c;
    font-size: 15px;
  }
  .invite_check h1 {
    text-align: center;
    color: #464444;
  }
  span.error {
    display: inline-block;
    margin-left: 25px;
    color: crimson;
  }

  a.carousel_link {
    color: #fff;
}
.flex-class {
    display: flex;
  }
.box-container {
    display: flex;
    justify-content: center;
}
div.Cookie__content div {
    display: flex;
}
div.Cookie__content button {
    background: #97d058;
    padding: 0.625em 3.125em;
    color: #fff;
    border-radius: 0;
    border: 0;
    font-size: 1em;
    margin-left: 25px;
    border-radius: 10px;
}
div.Cookie__content button:hover {
    background: #7ebf36;
}
button.Cookie__button {
    display: none !important;
}

button.skew {
    max-height: 65px;
}
.autocomplete {
    position: relative;
    width: 130px;
  }
  
  .autocomplete-results {
    padding: 0;
    margin: 0;
    border: 1px solid #eeeeee;
    height: 120px;
    overflow: auto;
    background: #fff;
  }
  
  .autocomplete-result {
    list-style: none;
    text-align: left;
    padding: 4px 2px;
    cursor: pointer;
  }
  
  .autocomplete-result:hover {
    background-color: #4aae9b;
    color: white;
  }
  input#autocomplete-input {
    background-image: url(/images/marker-24.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 245px 0;
    vertical-align: middle;
  }

  div.gallery_listing.gallery_listing_active {
    transform: translateX(30px) !important;
}

.my-main-search-inner {
    height: 30vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
    text-align: center;
  
    padding-top: 190px;
    padding-bottom: 150px;
  }
  
  .image {
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #ebebeb;
    margin: 5px;
    flex-basis: 18%;
  }
/* MEDIA QUERY */

@media screen and (max-width: 1400px) {
    .image {
      flex-basis: 24%;
    }
  }
 

@media screen AND (max-width: 1250px) {
    .image {
        flex-basis: 31%;
      }
    .Cookie__content p {
        font-size: 13px;
    }
}

@media screen AND (max-width: 1000px) {
    div.Cookie--dark-lime {
        padding: 10px;
    }
    div.gallery_listing.gallery_listing_active {
        left: 220px;
    }
    div.fixed.active_sidebar {
        transform: translateX(0);
        left: 20px;
        display: block;
        opacity: 1;
        min-width: 220px;
    }
    .image {
        flex-basis: 42%;
      }
    .sidebar_menu span.active_span {
        position: absolute;
        transform: rotate(50deg);
    }
    .sidebar_menu span.active_span:nth-of-type(2) {
        display: none;
    }
    .sidebar_menu span.active_span:nth-of-type(3) {
        transform: rotate(-50deg);
    }
}

@media screen AND (max-width: 900px) {
    .cookie_buttons_content {
        display: flex;
        flex-direction: column;
    }
    .cookie_buttons_content span {
        min-width: 100px;
        display: inline-block;
    }
    button.skew {
        max-height: 45px;
        padding: 5px 10px !important;
    }
    button.skew:first-of-type {
        margin-bottom: 15px;
    }
    .image {
        flex-basis: 47%;
      }
}

@media screen AND (max-width: 800px) {
    .Cookie--dark-lime {
        max-height: 150px;
    }
    .Cookie__content p {
         font-size: 11px;
        line-height: 20px;
    }
}

@media screen and (max-width: 766px) {
    div.gallery_listing {
        left: 0;
    }
    div.gallery_listing.gallery_listing_active {
        transform: translateX(120px) !important;
    }
    div.fixed.active_sidebar {
        transform: translateX(0);
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 72% !important;
        background: #fff;
        z-index: 11111;
        padding: 20px;
    }
    div.project_content {
        margin-top: 45px;
    }
}

@media screen and (max-width: 600px) {
    .image {
      flex-basis: 96%;
    }
  }

@media screen and (max-width: 530px) {
    .sidebar_menu {
        top: 155px;
    }

    div.project_content {
        margin-top: 60px;
    }
    div.fixed {
        top: 210px;
    }
    div.gallery_listing.gallery_listing_active {
        transform: translateX(60px) !important;
    }
    div.margin-top-40 {
        margin-top: 15px !important;
    }
    h3.margin-bottom-30 {
        margin-bottom: 15px !important;
    }
    input,
    input[type='text'] {
        padding: 0 10px;
    }
    h3.margin-top-20 {
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }
    .checkboxes {
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 180px;
    }
    .checkboxes label {
        font-size: 14px;
    }
}

@media screen and (max-width: 760px) {
    .main_video {
      display: none;
    }
}

@media screen and (max-width: 400px) {
    .container {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

@media screen AND (max-width: 450px) {
    .Cookie--dark-lime {
        max-height: 180px;
    }
}