.mobile {
    display: block;
    @media only screen and (min-width: 768px) {
        display: none;
    }
}

.small-dialog-header {
    margin-bottom: 0px;
}

.small-dialog-header h3 {
    padding-right: 0;
}

#sign-in-dialog {
    // margin-top: 75px;
    margin-top: 0;
    overflow-x: hidden;
    height: auto;
}
@media only screen and (min-width: 768px) {
    #sign-in-dialog {
        margin-top: 150px;
    }
}

@media only screen and (max-width: 768px) {

    select,
    input,
    textarea {
        font-size: 16px !important;
    }

    .small-dialog-header {
        display: none;
     }
}

.mfp-bg {
    background-color: unset;
}
.mfp-container.mfp-inline-holder {
    background-color: rgba(0, 0, 0, 0.8);
}

.mfp-wrap.mfp-close-btn-in.mfp-auto-cursor.my-mfp-zoom-in.mfp-ready,
.mfp-content {
    height: 100vh !important;
}
@media only screen and (max-width: 768px) {
    #sign-in-dialog,
    #small-dialog {
        max-width: 80vw;
    }
}

.sign-in-form label input{
    height: 53px !important;
}

// TsB
@media screen and (max-width: 414px) {
    .small-dialog-header {
        padding: 10px;
        display: none;
    }

    ul.tabs-nav li {
        padding: 10px 15px 0px 15px !important;
    }
}